# Ignorer l'environnement virtuel
*venv*/
*env*/

# Ignorer le fichier d'environnement
.env

# Ignorer les fichiers et dossiers de cache générés par Python
__pycache__/
*.py[cod]

# Ignorer les fichiers et dossiers de logs
*.log
logs/

# Ignorer les fichiers spécifiques à Visual Studio Code
.vscode/

# Ignorer les notebooks temporaires
*.ipynb_checkpoints/

#Fichiers de configs MacOS
.DS_Store

# Ignorer les weight
#models/models_weight/*

# Ignorer les vidéos 
video/*
output_videos/*

# Ignorer le ficher pickles 
stubs/*
data/players_dataset/*.pkl

# Ignorer les test 
Annotated_Video_Results/*
Result_test/*

# Ignorer le fichier config sécurité des clés API
config/*

# Ignorer les données lourdes
*heavy_data/
